/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

.leaflet-container {
  height: 300px;
  width: 100%;
}

div.trackerWindow {
  width: 100%;
  height: 100%;
  margin: 0;
}

div.radarDiv {
  position: relative;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

canvas.radarCanvas {
  position: absolute;
  left: 0;
  top: 0;
}

canvas#radarUI {
  z-index: 0;
}

canvas#satellitesOnRadar {
  z-index: 1;
}